@media (max-width: 63.9375em) {

   #nav .subnav a {
      padding: 5px 12px;
   }

   .place-buy-btn{
      padding: 15px 16px;
   }

   .contact-form .form-submit-btn {
      padding: 16px 16px;
   }

   .contact-info {
      line-height: 2;
   }
   .contact-form .form-control{
      padding: 16px;
   }
   #footer .social-list {
      font-size: 48px;
   }

   #footer .social-list a {
      margin: 0 8px;
   }

}

/* Điện Thoại */
@media (max-width: 46.1875em) {

   .s-full-width,
   .s-col-full {
      width: 100%;
   }

   .s-mt-8 {
      margin-top: 8px;
   }

   #nav {
      display:block;
      width: 100%;
   }

   #nav > li {
      display: block;
   }

   #nav > li:first-child {
      display: inline-block;
   }

   #header {
      overflow: hidden;
   }

   #header .search-btn {
      display: none;
   }

   #header .mobile-menu-btn {
      display: block;
      position: absolute;
      right: 0;
   }

   #nav .subnav {
      position: initial;
   }

   #nav .subnav a {
      color: #fff;
      background-color: #333;
      padding: 4px 40px;
      border: none;
   }

   #content .member-item {
      width: 100%;
      margin-top:15px;
      margin-bottom:15px;
   }

   #content .member-avatar {
      width: 60%;
   }

   .place-item {
      width: 100%;
   }

   .contact-form {
      margin-top: 16px;
   }

}